
{% extends 'layout.html.twig' %}

 
{% block body %}
    
    {{parent()}}
                
     {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
                    {% endfor %}
                    
    <div class="container">
    <div class="row">
                            
                                    
                                 {% for unArchivo in archivos %}    
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel panel-heading">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"><span class="text-justify"> Nombre Usuario:{{unArchivo.getuser.getusername}}</span>
                                        </div>  
                                        <div class="panel panel-body">
                                                    <p>
                                                 <strong>
                                                  {{unArchivo.getcreatedat|date('Y-m-d H:i:s')}}        
                                                 </strong>
                                                 <br>
                                                 
                                                 <p>
                                                 <strong>
                                                  {{unArchivo.getDescription}}        
                                                 </strong>
                                                 <br>
                                         
                                                <img id="imagen" src="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}" alt="CF"/> 
                                               
                                                        <a href="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}">Descargar fichero lineadecodigo.txt</a>
                                                        
                                                        <audio src="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}">
                                                         
                                                        </audio>
                                                        
                                                        <audio id="sonido" src="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}">" controls>
                                                               </audio>
                                        </div>  
                                    </div>  
                                </div>
                            </div>  
                                        
                                 
                              {% endfor %}       
                        </div>
                    </div> 

 
 

    
{% endblock %}