{% extends 'layout.html.twig' %}

 
{% block body %}
    
    {{parent()}}
             
     {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
                    {% endfor %}
                    
    <div class="container">
     
                            
                                    
                                 
                             
                                <div class="col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel panel-heading">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"><span class="text-justify"> Nombre Usuario:{{unArchivo.getuser.getusername}}</span>
                                        </div>  
                                        <div class="panel panel-body">
                                                    <p>
                                                 <strong>
                                                  {{unArchivo.getcreatedat|date('Y-m-d H:i:s')}}        
                                                 </strong>
                                                 <br>
                                                 
                                                  <p>
                                                 <strong>
                                                  {{unArchivo.getTitle()}}        
                                                 </strong>
                                                 <br>
                                                 
                                                 <p>
                                                 <strong>
                                                 
                                                       <a href="{{path('emm_user_entradas',{entradasurl:unArchivo.getUrl})}}" class="btn btn-sm btn-primary"> ver mas</a>
                                                    
                                                 </strong>
                                                 <br>
                                         
                                                
                                               
                                                        <audio controls>
               <source src="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}" type="audio/mpeg"/>
                  <object type="application/x-shockwave-flash" data="media/OriginalMusicPlayer.swf" width="225" height="86"> 
                 <param name="movie" value="media/OriginalMusicPlayer.swf"/>
                 <param name="FlashVars" value="mediaPath=vincent.mp3" /> 
                 </object> 
            </audio>
                                                  
                                                   {% for uncomentario in unArchivo.getComentarios %}  
                                                       
                                                     
                                                     <p>{{uncomentario.getTexto}}</p>
                                                      <img id="imagen" src="{{asset('public/images/yusseff.jpg')}}" alt="CF"/>
                                                     <img id="imagen" src="{{ asset('uploads/brochures/' ~ uncomentario.getHeadShot) }}" alt="CF"/>
                                                        
                                                    {% endfor %}       
                                                
                  
                  
                  
                  
                                        </div>  
                                    </div>  
                                </div>
                                 
                             </div>
     
                                   
                        
                  
                  
                  
                    {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
              

         {% endfor %}    
                
 
		<div class="container">
			<div class="col-md-12">
				<div class="page-header">
					 
				</div>
                                <div class="panel panel-body">
				{{ form_start(formcomentario, {'attr': {'novalidate': 'novalidate', 'role' : 'form', 'enctype':'multipart/form-data'}}) }}
				    <h4 class="text-danger">{{ form_errors(formcomentario) }}</h4>

					<fieldset>
					    <div class="form-group">
					        {{ form_label(formcomentario.texto) }}
					        {{ form_widget(formcomentario.texto, {'attr': {'class': 'form-control', 'placeholder' : 'Task title'}}) }}
					        <span class="text-danger">{{ form_errors(formcomentario.texto) }}</span>
					    </div>

					  

					    
                                            
                                            <div class="form-group">
					        {{ form_label(formcomentario.headshot) }}
					        {{ form_widget(formcomentario.headshot, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(formcomentario.headshot) }}</span>
					    </div>
                                            <div class="form-group">
                                              
                                               {{ form_widget(formcomentario.createdAt,  { 'attr': {'style': 'display:none'} }) }}
                                               <span class="text-danger">{{ form_errors(formcomentario.createdAt) }}</span>
                                           </div>
                                             
                                            <div class="form-group">
                                              
                                               {{ form_widget(formcomentario.updatedAt,  { 'attr': {'style': 'display:none'} }) }}
                                               <span class="text-danger">{{ form_errors(formcomentario.updatedAt) }}</span>
                                           </div>
                                           
                                           <div class="form-group">
                                              
                                               {{ form_widget(formcomentario.entradaid,  { 'attr': {'style': 'display:none'} }) }}
                                               <span class="text-danger">{{ form_errors(formcomentario.entradaid) }}</span>
                                           </div>
                                           
                                           <div class="form-group">
                                              
                                               {{ form_widget(formcomentario.user,  { 'attr': {'style': 'display:none'} }) }}
                                               <span class="text-danger">{{ form_errors(formcomentario.user) }}</span>
                                           </div>
                                           
                                           
                                           
					</fieldset>

				    <p>
				        {{ form_widget(formcomentario.save, {'label' : 'comentar', 'attr': {'class': 'btn btn-success'}}) }}
				    </p>

				{{ form_end(formcomentario) }}
                                </div>
			</div>
		</div>
	 

                  
                 
                  
                  

 

    
{% endblock %}