{% extends 'layout.html.twig' %}

 
{% block body %}
    
    {{parent()}}
     {#        
     {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
                    {% endfor %}
                    
    <div class="container">
    <div class="row">
                            
                                    
                                 
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel panel-heading">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"><span class="text-justify"> Nombre Usuario:{{unArchivo.getuser.getusername}}</span>
                                        </div>  
                                        <div class="panel panel-body">
                                                    <p>
                                                 <strong>
                                                  {{unArchivo.getcreatedat|date('Y-m-d H:i:s')}}        
                                                 </strong>
                                                 <br>
                                                 
                                                  <p>
                                                 <strong>
                                                  {{unArchivo.getTitle()}}        
                                                 </strong>
                                                 <br>
                                                 
                                                 <p>
                                                 <strong>
                                                 
                                                       <a href="{{path('emm_user_entradas',{entradasurl:unArchivo.getUrl})}}" class="btn btn-sm btn-primary"> ver mas</a>
                                                    
                                                 </strong>
                                                 <br>
                                         
                                                
                                               
                                                        <audio controls>
               <source src="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}" type="audio/mpeg"/>
                  <object type="application/x-shockwave-flash" data="media/OriginalMusicPlayer.swf" width="225" height="86"> 
                 <param name="movie" value="media/OriginalMusicPlayer.swf"/>
                 <param name="FlashVars" value="mediaPath=vincent.mp3" /> 
                 </object> 
            </audio>
                                        </div>  
                                    </div>  
                                </div>
                            </div>  
                                        
                                 
                                   
                        </div>
                  
                  
                  <h1>Adding a new product</h1>
                   #} 
   
    
                    <h1>Subir Archivo</h1>
                    {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
               <div class="container">

         {% endfor %}    
                </div>
<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					 
				</div>
				{{ form_start(formcomentario, {'attr': {'novalidate': 'novalidate', 'role' : 'form', 'enctype':'multipart/form-data'}}) }}
				    <h4 class="text-danger">{{ form_errors(formcomentario) }}</h4>

					<fieldset>
					    <div class="form-group">
					        {{ form_label(formcomentario.texto) }}
					        {{ form_widget(formcomentario.texto, {'attr': {'class': 'form-control', 'placeholder' : 'Task title'}}) }}
					        <span class="text-danger">{{ form_errors(formcomentario.texto) }}</span>
					    </div>

					  

					    <div class="form-group">
					        {{ form_label(formcomentario.titulo) }}
					        {{ form_widget(formcomentario.titulo, {'attr': {'class': 'form-control', 'placeholder' : 'Task description'}}) }}
					        <span class="text-danger">{{ form_errors(formcomentario.titulo) }}</span>
					    </div>
                                            
                                            <div class="form-group">
					        {{ form_label(formcomentario.headshot) }}
					        {{ form_widget(formcomentario.headshot, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(formcomentario.headshot) }}</span>
					    </div>
					</fieldset>

				    <p>
				        {{ form_widget(formcomentario.save, {'label' : 'comentar', 'attr': {'class': 'btn btn-success'}}) }}
				    </p>

				{{ form_end(formcomentario) }}
			</div>
		</div>
	</div>

                  
                 
                  
                  
</div>
 
 

    
{% endblock %}