{% extends 'layout.html.twig' %}

 
{% block body %}
    
    {{parent()}}
             
     {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
                    {% endfor %}
                    
    <div class="container">
    <div class="row">
                            
                                    
                                 
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel panel-heading">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"><span class="text-justify"> Nombre Usuario:{{unArchivo.getuser.getusername}}</span>
                                        </div>  
                                        <div class="panel panel-body">
                                                    <p>
                                                 <strong>
                                                  {{unArchivo.getcreatedat|date('Y-m-d H:i:s')}}        
                                                 </strong>
                                                 <br>
                                                 
                                                  <p>
                                                 <strong>
                                                  {{unArchivo.getTitle()}}        
                                                 </strong>
                                                 <br>
                                                 
                                                 <p>
                                                 <strong>
                                                 
                                                       <a href="{{path('emm_user_entradas',{entradasurl:unArchivo.getDescription})}}" class="btn btn-sm btn-primary"> ver mas</a>
                                                    
                                                 </strong>
                                                 <br>
                                         
                                                
                                               
                                                        <audio controls>
               <source src="{{asset('uploads/archivos/')}}{{unArchivo.getarchivo}}" type="audio/mpeg"/>
                  <object type="application/x-shockwave-flash" data="media/OriginalMusicPlayer.swf" width="225" height="86"> 
                 <param name="movie" value="media/OriginalMusicPlayer.swf"/>
                 <param name="FlashVars" value="mediaPath=vincent.mp3" /> 
                 </object> 
            </audio>
                                        </div>  
                                    </div>  
                                </div>
                            </div>  
                                        
                                 
                                   
                        </div>
                    </div> 

 
 

    
{% endblock %}